* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
    min-width: 650px;
    color: #000;
}


header {
    background-color: #F2CB05;
}

.logo {

    width: 100px;
    display: inline-block;

}

.logo img {

width: inherit;
}

nav {

    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

nav li {

    display: inline-block;
}


nav li a {

    text-decoration: none;
    background-color: #572381;
    padding: 10px;
    border-radius: 20px;

    
}

nav li a:link {

    color: #fff;
}

nav li a:visited {

    background-color: #fff;
    
}

nav li a:hover {

    background-color: #fff;
    color: #F2CB05;
}

nav li a:active {

    background-color: #fff;
}

main {

    margin-left: 30px;
}

main img {
    width:500px;
    text-align: center;
    margin: 10px auto;
    display: block; 
    border-radius: 5px;
    border-left: 15px solid #572381;

}


.title {
    text-align: center;
    font-size: 3rem;
    padding-top: 30px;
}

.sub-title {
    text-align: center;
}

pre {

    text-align: center;
}

h5 {
    font-size: 1.5rem;
    margin:20px auto;
}

footer {

    background-color: #F2CB05;
    margin-top: 30px;
}

footer h3 {

    padding: 30px;
}
